In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
test = pd.read_csv("movies_test.csv", encoding = 'euc-kr')
train = pd.read_csv("movies_train.csv",encoding = 'euc-kr')
submission = pd.read_csv("submission.csv",encoding = 'euc-kr')

### train 데이터처리

In [3]:
train.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387

In [4]:
train.isnull().sum()

title               0
distributor         0
genre               0
release_time        0
time                0
screening_rat       0
director            0
dir_prev_bfnum    330
dir_prev_num        0
num_staff           0
num_actor           0
box_off_num         0
dtype: int64

In [5]:
train[train['dir_prev_bfnum'].isna()]

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
6,길위에서,백두대간,다큐멘터리,2013-05-23,104,전체 관람가,이창재,NaN,0,32,5,53526
8,"1789, 바스티유의 연인들",유니버설픽쳐스인터내셔널코리아,뮤지컬,2014-09-18,129,전체 관람가,정성복,NaN,0,3,5,4778
9,청춘그루브,(주)두타연,드라마,2012-03-15,94,15세 관람가,변성현,NaN,0,138,3,868
10,AV 아이돌,(주) 케이알씨지,멜로/로맨스,2015-07-27,89,청소년 관람불가,조조 히데오,NaN,0,0,4,745
...,...,...,...,...,...,...,...,...,...,...,...,...
593,낭만파 남편의 편지,퍼스트런,미스터리,2013-09-12,97,청소년 관람불가,최위안,NaN,0,5,3,1132
594,오빠가 돌아왔다,(주)마운틴픽쳐스,코미디,2014-03-20,94,청소년 관람불가,노진수,NaN,0,37,5,1958
597,살인의 강,(주)마운틴픽쳐스,공포,2010-09-30,99,청소년 관람불가,김대현,NaN,0,123,4,2475
598,악의 연대기,CJ 엔터테인먼트,느와르,2015-05-14,102,15세 관람가,백운학,NaN,0,431,4,2192525
599,베를린,CJ 엔터테인먼트,액션,2013-01-30,120,15세 관람가,류승완,NaN,0,363,5,7166532

In [6]:
# dir_prev_bfnum가 nan인 것들의 dir_prev_num 값이 0인지 확인

train[train['dir_prev_bfnum'].isna()]['dir_prev_num'].sum()
# train[train['dir_prev_bfnum'].isna()]['dir_prev_num']

0

In [7]:
# dir_prev_bfnum가 nan인 것들을 0으로 결측치 처리

train['dir_prev_bfnum'].fillna(0,inplace=True) 
# fillna() -> 데이터 중 nan값들을 특정 숫자로 처리

In [8]:
# 결측치처리 후 nan값이 없는 것을 확인
train.isnull().sum()

title             0
distributor       0
genre             0
release_time      0
time              0
screening_rat     0
director          0
dir_prev_bfnum    0
dir_prev_num      0
num_staff         0
num_actor         0
box_off_num       0
dtype: int64

### test데이터처리

In [9]:
test.isnull().sum()
test[test['dir_prev_bfnum'].isna()]['dir_prev_num'].sum()

0

In [10]:
test['dir_prev_bfnum'].fillna(0,inplace=True)

In [11]:
test.isnull().sum()

title             0
distributor       0
genre             0
release_time      0
time              0
screening_rat     0
director          0
dir_prev_bfnum    0
dir_prev_num      0
num_staff         0
num_actor         0
dtype: int64

In [12]:
test

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor
0,용서는 없다,시네마서비스,느와르,2010-01-07,125,청소년 관람불가,김형준,3.005290e+05,2,304,3
1,아빠가 여자를 좋아해,(주)쇼박스,멜로/로맨스,2010-01-14,113,12세 관람가,이광재,3.427002e+05,4,275,3
2,하모니,CJ 엔터테인먼트,드라마,2010-01-28,115,12세 관람가,강대규,4.206611e+06,3,419,7
3,의형제,(주)쇼박스,액션,2010-02-04,116,15세 관람가,장훈,6.913420e+05,2,408,2
4,평행 이론,CJ 엔터테인먼트,공포,2010-02-18,110,15세 관람가,권호영,3.173800e+04,1,380,1
...,...,...,...,...,...,...,...,...,...,...,...
238,해에게서 소년에게,디씨드,드라마,2015-11-19,78,15세 관람가,안슬기,2.590000e+03,1,4,4
239,울보 권투부,인디스토리,다큐멘터리,2015-10-29,86,12세 관람가,이일하,0.000000e+00,0,18,2
240,어떤살인,(주)컨텐츠온미디어,느와르,2015-10-28,107,청소년 관람불가,안용훈,0.000000e+00,0,224,4
241,말하지 못한 비밀,(주)씨타마운틴픽쳐스,드라마,2015-10-22,102,청소년 관람불가,송동윤,5.069900e+04,1,68,7
242,조선안방 스캔들-칠거지악 2,(주) 케이알씨지,멜로/로맨스,2015-10-22,76,청소년 관람불가,이전,0.000000e+00,0,10,4

### 범주형 데이터 인코딩

##### 인코딩을 위한 concat!

In [13]:
# train 데이터에 있는 마지막열 제외(관객수)
train_encoding = train.iloc[:,0:-1]

In [14]:
concat=[train_encoding,test]
train_test = pd.concat(concat)

In [15]:
train_test.isnull().sum()

title             0
distributor       0
genre             0
release_time      0
time              0
screening_rat     0
director          0
dir_prev_bfnum    0
dir_prev_num      0
num_staff         0
num_actor         0
dtype: int64

In [16]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

In [17]:
le = preprocessing.LabelEncoder()

###### 상영등급인코딩

In [18]:
### 상영등급인코딩
train_test['new_screening_rat'] = le.fit_transform(train_test['screening_rat'])
# fit

In [19]:
# 범주가 잘 이루어졌는지 확인.
# 15세 관람가가 1로 되었다. 275개 이므로 다 합치면 275이가 나와야함. 
# 12세는 0, 전체관람가 2 청불 3

train_test[train_test['screening_rat']=='15세 관람가']
train_test[train_test['screening_rat']=='15세 관람가']['new_screening_rat'].sum()

275

###### 장르인코딩

In [20]:
### 장르 인코딩
train_test['new_genre'] = le.fit_transform(train_test['genre'])

In [21]:
# 인코딩확인!
train_test[train_test['genre']=='코미디']['new_genre']
print(train_test['new_genre'].value_counts())
print(train_test['genre'].value_counts())

4     299
3     126
5     117
11     76
1      61
10     49
2      39
9      29
7      24
0      14
6       6
8       3
Name: new_genre, dtype: int64
드라마       299
다큐멘터리     126
멜로/로맨스    117
코미디        76
공포         61
액션         49
느와르        39
애니메이션      29
미스터리       24
SF         14
뮤지컬         6
서스펜스        3
Name: genre, dtype: int64

###### 배급사인코딩

In [22]:
train_test['distributor'].unique()

array(['롯데엔터테인먼트', '(주)쇼박스', '(주)NEW', '쇼박스(주)미디어플렉스', '백두대간',
       '유니버설픽쳐스인터내셔널코리아', '(주)두타연', '(주) 케이알씨지', '(주)콘텐츠 윙', '(주)키노아이',
       '(주)팝 파트너스', 'CJ E&M 영화부문', '(주) 영화제작전원사', 'CJ E&M Pictures',
       'CGV 무비꼴라쥬', '리틀빅픽처스', '스폰지', 'CJ 엔터테인먼트', 'CGV아트하우스', '조이앤시네마',
       '인디플러그', '콘텐츠판다', '인디스토리', '(주)팝엔터테인먼트', '시네마서비스', '웃기씨네',
       '영화사 진진', '(주)레인보우 팩토리', '김기덕 필름', 'NEW', 'CJ CGV',
       '동국대학교 충무로영상제작센터', 'BoXoo 엔터테인먼트', '(주)마운틴픽쳐스', 'CGV 아트하우스',
       '메가박스(주)플러스엠', '골든타이드픽처스', '파이오니아21', '디 씨드', '드림팩트 엔터테인먼트', '시너지',
       '디마엔터테인먼트', '판다미디어', '(주)스톰픽쳐스코리아', '(주)예지림 엔터테인먼트', '(주) 영화사조제',
       '보람엔터테인먼트', '(주)시네마달', '노바엔터테인먼트', '(주)패스파인더씨앤씨', '(주)대명문화공장',
       '(주)온비즈넷', 'KT&G 상상마당', '무비꼴라쥬', '인벤트 디', '씨네그루(주)키다리이엔티',
       '스튜디오후크', '시네마 달', '나이너스엔터테인먼트(주)', 'THE 픽쳐스', '영구아트무비', '리틀빅픽쳐스',
       '어뮤즈', '이모션 픽처스', '(주)이스트스카이필름', '필라멘트 픽쳐스', '조이앤컨텐츠그룹', '타임스토리그룹',
       '마운틴 픽처스', '(주)휘엔터테인먼트', '이십세기폭스코리아(주)', '(주)피터팬픽쳐스', '에스와이코마드',
       '(주)더픽쳐스', '오퍼스픽쳐스', '(주)고앤고 필름', '사람과 사람들', '(주)JK필름',
       '씨너스엔터테인먼트(주)', 'KT', '싸이더스FNH', '(주)프레인글로벌', '나우콘텐츠', '홀리가든',
       '(주) 브릿지웍스', '(주)엣나인필름', '위더스필름', '시네마달', '(주)에이원 엔터테인먼트',
       'OAL(올)', '싸이더스', '전망좋은영화사', '스토리셋', '이상우필름', '씨네굿필름', '영희야놀자',
       '찬란', '어썸 피플', '아방가르드 필름', '스크린조이', '와이드릴리즈(주)', 'tvN',
       '(주) 액티버스엔터테인먼트', '더픽쳐스/(주)마운틴픽쳐스', '제나두 엔터테인먼트', '(주)아이필름코퍼레이션',
       '쟈비스미디어', '트리필름', '에스피엠', '(주)리틀빅픽처스', '건시네마', '키노엔터테인먼트',
       '(주)아우라픽처스', '에이블엔터테인먼트', '드림로드', '인피니티엔터테인먼트', '새인컴퍼니',
       '스튜디오 느림보', '와이드 릴리즈(주)', '필름라인', 'M2픽처스', '고구마공작소', '(주)미디어데이',
       '마노엔터테인먼트', '화앤담이엔티', '(주)스마일이엔티', '(주)패뷸러스', '싸이더스 FNH', '영화사 조아',
       '판씨네마(주)', '두 엔터테인먼트', '(주)마인스 엔터테인먼트', '전주국제영화제', '(주)마인스엔터테인먼트',
       '상구네 필름', '케이엠스타', '(주)유비네트워크', '한국YWCA연합회', 'KBS미디어(주)', '더 피플',
       '위드시네마', '팜코리아미디어', '(주)씨엠닉스', 'SBS콘텐츠허브', '인터콘미디어', '(주)유비콘텐츠',
       '프로젝트 엠피', '하준사', '(주)노버스엔터테인먼트', '주머니필름', '롤러코스터 프로덕션', 'SK플래닛',
       '서울독립영화제', '스튜디오 블루', '(주)랠리버튼', '(주)드림팩트엔터테인먼트', '에이원 엔터테인먼트',
       '머스트 씨 무비', 'SK텔레콤(주)', '마법사필름', '스폰지이엔티', '(주)로드하우스', '미라클 필름',
       '프리비젼 엔터테인먼트', '영화사 廊', '크리에이티브컴즈(주)', 'ysfilm', '이달투', '퍼스트런',
       '모쿠슈라', '(주)루믹스미디어', '마운틴픽쳐스', '롯데쇼핑(주)롯데엔터테인먼트', '노근리 프로덕션',
       '리얼라이즈픽쳐스', '청년필름', '리아코어콘텐츠', '핑크로봇 필름', 'Cinema SAM', '갑종필름',
       '필마픽쳐스', '오픈유컬쳐', '(주)드림웨스트픽쳐스', '미로비젼', '명필름', '프리비젼', '굿픽처스',
       '레몬트리', '타임스토리', '(주)영화사 빅', '유나이티드 픽처스', '(유)영화사 화수분', '늘푸른시네마',
       '(주)디씨드', '(주)루스이소니도스', '애니메이션 배급', '와우픽쳐스', '메가박스중앙(주)플러스엠',
       '미디어로그', '비에이치제이 시네마', '(주)다세포클럽', '디씨드', '(주)컨텐츠온미디어',
       '(주)씨타마운틴픽쳐스'], dtype=object)

In [23]:
train_test['distributor'].value_counts()
train_test['distributor'].value_counts()==85

CJ 엔터테인먼트      True
롯데엔터테인먼트      False
(주)마운틴픽쳐스     False
(주)쇼박스        False
인디스토리         False
              ...
필마픽쳐스         False
키노엔터테인먼트      False
스튜디오 느림보      False
(주)루스이소니도스    False
팜코리아미디어       False
Name: distributor, Length: 204, dtype: bool

In [24]:
a = train_test['distributor'].value_counts()
a = dict(a)
a

{'CJ 엔터테인먼트': 85,
 '롯데엔터테인먼트': 76,
 '(주)마운틴픽쳐스': 43,
 '(주)쇼박스': 38,
 '인디스토리': 37,
 '(주)NEW': 36,
 '골든타이드픽처스': 27,
 '(주) 케이알씨지': 19,
 '(주)키노아이': 15,
 'KT&G 상상마당': 14,
 '어뮤즈': 13,
 '시네마달': 13,
 'NEW': 12,
 '인벤트 디': 12,
 '인디플러그': 12,
 '영화사 진진': 12,
 '(주) 영화사조제': 12,
 '시너지': 11,
 '시네마 달': 10,
 '(주)팝엔터테인먼트': 10,
 '무비꼴라쥬': 9,
 'BoXoo 엔터테인먼트': 8,
 '리틀빅픽처스': 8,
 '시네마서비스': 7,
 '스폰지': 7,
 '나이너스엔터테인먼트(주)': 7,
 'CGV아트하우스': 7,
 '필라멘트 픽쳐스': 7,
 '메가박스(주)플러스엠': 5,
 '싸이더스': 5,
 '씨너스엔터테인먼트(주)': 5,
 '(주)엣나인필름': 5,
 '(주) 액티버스엔터테인먼트': 4,
 '타임스토리그룹': 4,
 '(주)마인스 엔터테인먼트': 4,
 '쇼박스(주)미디어플렉스': 4,
 '이십세기폭스코리아(주)': 4,
 '노바엔터테인먼트': 4,
 '트리필름': 4,
 '(주) 영화제작전원사': 4,
 '마노엔터테인먼트': 4,
 '씨네그루(주)키다리이엔티': 4,
 '홀리가든': 4,
 'CJ E&M 영화부문': 3,
 'CJ E&M Pictures': 3,
 'KT': 3,
 '(주) 브릿지웍스': 3,
 '(주)스톰픽쳐스코리아': 3,
 '마운틴 픽처스': 3,
 '하준사': 3,
 '드림로드': 3,
 'SBS콘텐츠허브': 3,
 '김기덕 필름': 3,
 '이모션 픽처스': 3,
 '웃기씨네': 3,
 '드림팩트 엔터테인먼트': 3,
 '(주)노버스엔터테인먼트': 2,
 '파이오니아21': 2,
 '미로비젼': 2,
 '(주)마인스엔터테인먼트': 2,
 '위드시네마': 2,
 '오퍼스픽쳐스': 2,
 '(주)두타연': 2,
 '씨네굿필름': 2,
 '서울독립영화제': 2,
 '크리에이티브컴즈(주)': 2,
 '(주)프레인글로벌': 2,
 'CGV 아트하우스': 2,
 '에스피엠': 2,
 '(주)에이원 엔터테인먼트': 2,
 '(주)미디어데이': 2,
 '스토리셋': 2,
 '백두대간': 2,
 '화앤담이엔티': 2,
 '(주)예지림 엔터테인먼트': 2,
 '(주)시네마달': 2,
 '에이원 엔터테인먼트': 2,
 '스폰지이엔티': 2,
 '조이앤시네마': 2,
 '리틀빅픽쳐스': 2,
 '(주)리틀빅픽처스': 2,
 '영화사 廊': 1,
 '나우콘텐츠': 1,
 '건시네마': 1,
 '(주)로드하우스': 1,
 '새인컴퍼니': 1,
 '에스와이코마드': 1,
 '스튜디오후크': 1,
 '(주)패뷸러스': 1,
 '영희야놀자': 1,
 'KBS미디어(주)': 1,
 '와이드릴리즈(주)': 1,
 '마운틴픽쳐스': 1,
 '(주)패스파인더씨앤씨': 1,
 '에이블엔터테인먼트': 1,
 '판다미디어': 1,
 '아방가르드 필름': 1,
 '(주)씨엠닉스': 1,
 '와이드 릴리즈(주)': 1,
 '(주)루믹스미디어': 1,
 '노근리 프로덕션': 1,
 '디씨드': 1,
 '어썸 피플': 1,
 '리아코어콘텐츠': 1,
 'M2픽처스': 1,
 '상구네 필름': 1,
 'SK텔레콤(주)': 1,
 'tvN': 1,
 '늘푸른시네마': 1,
 '더 피플': 1,
 '영화사 조아': 1,
 '(주)휘엔터테인먼트': 1,
 '찬란': 1,
 '유니버설픽쳐스인터내셔널코리아': 1,
 '(주)대명문화공장': 1,
 '핑크로봇 필름': 1,
 'OAL(올)': 1,
 '(주)다세포클럽': 1,
 '(주)아이필름코퍼레이션': 1,
 'Cinema SAM': 1,
 '보람엔터테인먼트': 1,
 'CGV 무비꼴라쥬': 1,
 '메가박스중앙(주)플러스엠': 1,
 'CJ CGV': 1,
 '(주)드림웨스트픽쳐스': 1,
 '이달투': 1,
 '모쿠슈라': 1,
 '판씨네마(주)': 1,
 'ysfilm': 1,
 '머스트 씨 무비': 1,
 '롤러코스터 프로덕션': 1,
 '프리비젼': 1,
 '필름라인': 1,
 'THE 픽쳐스': 1,
 '디마엔터테인먼트': 1,
 '더픽쳐스/(주)마운틴픽쳐스': 1,
 '비에이치제이 시네마': 1,
 '사람과 사람들': 1,
 '케이엠스타': 1,
 '(주)피터팬픽쳐스': 1,
 '주머니필름': 1,
 'SK플래닛': 1,
 '(주)디씨드': 1,
 '애니메이션 배급': 1,
 '오픈유컬쳐': 1,
 '갑종필름': 1,
 '(주)더픽쳐스': 1,
 '(주)스마일이엔티': 1,
 '인터콘미디어': 1,
 '디 씨드': 1,
 '이상우필름': 1,
 '(유)영화사 화수분': 1,
 '쟈비스미디어': 1,
 '프리비젼 엔터테인먼트': 1,
 '(주)유비네트워크': 1,
 '미디어로그': 1,
 '스튜디오 블루': 1,
 '(주)레인보우 팩토리': 1,
 '청년필름': 1,
 '(주)이스트스카이필름': 1,
 '조이앤컨텐츠그룹': 1,
 '두 엔터테인먼트': 1,
 '(주)아우라픽처스': 1,
 '제나두 엔터테인먼트': 1,
 '리얼라이즈픽쳐스': 1,
 '전주국제영화제': 1,
 '(주)컨텐츠온미디어': 1,
 '콘텐츠판다': 1,
 '타임스토리': 1,
 '(주)랠리버튼': 1,
 '영구아트무비': 1,
 '굿픽처스': 1,
 '전망좋은영화사': 1,
 '동국대학교 충무로영상제작센터': 1,
 '고구마공작소': 1,
 '위더스필름': 1,
 '한국YWCA연합회': 1,
 '레몬트리': 1,
 '유나이티드 픽처스': 1,
 '프로젝트 엠피': 1,
 '싸이더스FNH': 1,
 '마법사필름': 1,
 '(주)드림팩트엔터테인먼트': 1,
 '(주)콘텐츠 윙': 1,
 '와우픽쳐스': 1,
 '인피니티엔터테인먼트': 1,
 '명필름': 1,
 '퍼스트런': 1,
 '(주)유비콘텐츠': 1,
 '미라클 필름': 1,
 '(주)JK필름': 1,
 '(주)씨타마운틴픽쳐스': 1,
 '(주)영화사 빅': 1,
 '(주)고앤고 필름': 1,
 '스크린조이': 1,
 '(주)온비즈넷': 1,
 '롯데쇼핑(주)롯데엔터테인먼트': 1,
 '싸이더스 FNH': 1,
 '(주)팝 파트너스': 1,
 '필마픽쳐스': 1,
 '키노엔터테인먼트': 1,
 '스튜디오 느림보': 1,
 '(주)루스이소니도스': 1,
 '팜코리아미디어': 1}

In [25]:
list(a.keys())

['CJ 엔터테인먼트',
 '롯데엔터테인먼트',
 '(주)마운틴픽쳐스',
 '(주)쇼박스',
 '인디스토리',
 '(주)NEW',
 '골든타이드픽처스',
 '(주) 케이알씨지',
 '(주)키노아이',
 'KT&G 상상마당',
 '어뮤즈',
 '시네마달',
 'NEW',
 '인벤트 디',
 '인디플러그',
 '영화사 진진',
 '(주) 영화사조제',
 '시너지',
 '시네마 달',
 '(주)팝엔터테인먼트',
 '무비꼴라쥬',
 'BoXoo 엔터테인먼트',
 '리틀빅픽처스',
 '시네마서비스',
 '스폰지',
 '나이너스엔터테인먼트(주)',
 'CGV아트하우스',
 '필라멘트 픽쳐스',
 '메가박스(주)플러스엠',
 '싸이더스',
 '씨너스엔터테인먼트(주)',
 '(주)엣나인필름',
 '(주) 액티버스엔터테인먼트',
 '타임스토리그룹',
 '(주)마인스 엔터테인먼트',
 '쇼박스(주)미디어플렉스',
 '이십세기폭스코리아(주)',
 '노바엔터테인먼트',
 '트리필름',
 '(주) 영화제작전원사',
 '마노엔터테인먼트',
 '씨네그루(주)키다리이엔티',
 '홀리가든',
 'CJ E&M 영화부문',
 'CJ E&M Pictures',
 'KT',
 '(주) 브릿지웍스',
 '(주)스톰픽쳐스코리아',
 '마운틴 픽처스',
 '하준사',
 '드림로드',
 'SBS콘텐츠허브',
 '김기덕 필름',
 '이모션 픽처스',
 '웃기씨네',
 '드림팩트 엔터테인먼트',
 '(주)노버스엔터테인먼트',
 '파이오니아21',
 '미로비젼',
 '(주)마인스엔터테인먼트',
 '위드시네마',
 '오퍼스픽쳐스',
 '(주)두타연',
 '씨네굿필름',
 '서울독립영화제',
 '크리에이티브컴즈(주)',
 '(주)프레인글로벌',
 'CGV 아트하우스',
 '에스피엠',
 '(주)에이원 엔터테인먼트',
 '(주)미디어데이',
 '스토리셋',
 '백두대간',
 '화앤담이엔티',
 '(주)예지림 엔터테인먼트',
 '(주)시네마달',
 '에이원 엔터테인먼트',
 '스폰지이엔티',
 '조이앤시네마',
 '리틀빅픽쳐스',
 '(주)리틀빅픽처스',
 '영화사 廊',
 '나우콘텐츠',
 '건시네마',
 '(주)로드하우스',
 '새인컴퍼니',
 '에스와이코마드',
 '스튜디오후크',
 '(주)패뷸러스',
 '영희야놀자',
 'KBS미디어(주)',
 '와이드릴리즈(주)',
 '마운틴픽쳐스',
 '(주)패스파인더씨앤씨',
 '에이블엔터테인먼트',
 '판다미디어',
 '아방가르드 필름',
 '(주)씨엠닉스',
 '와이드 릴리즈(주)',
 '(주)루믹스미디어',
 '노근리 프로덕션',
 '디씨드',
 '어썸 피플',
 '리아코어콘텐츠',
 'M2픽처스',
 '상구네 필름',
 'SK텔레콤(주)',
 'tvN',
 '늘푸른시네마',
 '더 피플',
 '영화사 조아',
 '(주)휘엔터테인먼트',
 '찬란',
 '유니버설픽쳐스인터내셔널코리아',
 '(주)대명문화공장',
 '핑크로봇 필름',
 'OAL(올)',
 '(주)다세포클럽',
 '(주)아이필름코퍼레이션',
 'Cinema SAM',
 '보람엔터테인먼트',
 'CGV 무비꼴라쥬',
 '메가박스중앙(주)플러스엠',
 'CJ CGV',
 '(주)드림웨스트픽쳐스',
 '이달투',
 '모쿠슈라',
 '판씨네마(주)',
 'ysfilm',
 '머스트 씨 무비',
 '롤러코스터 프로덕션',
 '프리비젼',
 '필름라인',
 'THE 픽쳐스',
 '디마엔터테인먼트',
 '더픽쳐스/(주)마운틴픽쳐스',
 '비에이치제이 시네마',
 '사람과 사람들',
 '케이엠스타',
 '(주)피터팬픽쳐스',
 '주머니필름',
 'SK플래닛',
 '(주)디씨드',
 '애니메이션 배급',
 '오픈유컬쳐',
 '갑종필름',
 '(주)더픽쳐스',
 '(주)스마일이엔티',
 '인터콘미디어',
 '디 씨드',
 '이상우필름',
 '(유)영화사 화수분',
 '쟈비스미디어',
 '프리비젼 엔터테인먼트',
 '(주)유비네트워크',
 '미디어로그',
 '스튜디오 블루',
 '(주)레인보우 팩토리',
 '청년필름',
 '(주)이스트스카이필름',
 '조이앤컨텐츠그룹',
 '두 엔터테인먼트',
 '(주)아우라픽처스',
 '제나두 엔터테인먼트',
 '리얼라이즈픽쳐스',
 '전주국제영화제',
 '(주)컨텐츠온미디어',
 '콘텐츠판다',
 '타임스토리',
 '(주)랠리버튼',
 '영구아트무비',
 '굿픽처스',
 '전망좋은영화사',
 '동국대학교 충무로영상제작센터',
 '고구마공작소',
 '위더스필름',
 '한국YWCA연합회',
 '레몬트리',
 '유나이티드 픽처스',
 '프로젝트 엠피',
 '싸이더스FNH',
 '마법사필름',
 '(주)드림팩트엔터테인먼트',
 '(주)콘텐츠 윙',
 '와우픽쳐스',
 '인피니티엔터테인먼트',
 '명필름',
 '퍼스트런',
 '(주)유비콘텐츠',
 '미라클 필름',
 '(주)JK필름',
 '(주)씨타마운틴픽쳐스',
 '(주)영화사 빅',
 '(주)고앤고 필름',
 '스크린조이',
 '(주)온비즈넷',
 '롯데쇼핑(주)롯데엔터테인먼트',
 '싸이더스 FNH',
 '(주)팝 파트너스',
 '필마픽쳐스',
 '키노엔터테인먼트',
 '스튜디오 느림보',
 '(주)루스이소니도스',
 '팜코리아미디어']

In [26]:
train_test

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,new_screening_rat,new_genre
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,0.00,0,91,2,3,10
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,3,2
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,1,10
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,2,11
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,해에게서 소년에게,디씨드,드라마,2015-11-19,78,15세 관람가,안슬기,2590.00,1,4,4,1,4
239,울보 권투부,인디스토리,다큐멘터리,2015-10-29,86,12세 관람가,이일하,0.00,0,18,2,0,3
240,어떤살인,(주)컨텐츠온미디어,느와르,2015-10-28,107,청소년 관람불가,안용훈,0.00,0,224,4,3,2
241,말하지 못한 비밀,(주)씨타마운틴픽쳐스,드라마,2015-10-22,102,청소년 관람불가,송동윤,50699.00,1,68,7,3,4
242,조선안방 스캔들-칠거지악 2,(주) 케이알씨지,멜로/로맨스,2015-10-22,76,청소년 관람불가,이전,0.00,0,10,4,3,5

In [27]:
train_test["new_num"]=0
for i in list(a.keys()):
    train_test.loc[train_test["distributor"] == i,"new_num"] = a[i]
train_test

####--------------------------------------------
# i에는 a에서 받은 키값들(배급사이름)이 들어온다. 
# 즉, i와 train_test의 배급사명이 일치하면 그 배급사에 
# 해당하는 value값이 new_num에 들어오게끔 했다.
# a는 dict이다. 
# a[키값] = 해당 키값에 해당하는 value값.

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,new_screening_rat,new_genre,new_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,0.00,0,91,2,3,10,76
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,3,2,38
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,1,10,38
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,2,11,36
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,1,11,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,해에게서 소년에게,디씨드,드라마,2015-11-19,78,15세 관람가,안슬기,2590.00,1,4,4,1,4,1
239,울보 권투부,인디스토리,다큐멘터리,2015-10-29,86,12세 관람가,이일하,0.00,0,18,2,0,3,37
240,어떤살인,(주)컨텐츠온미디어,느와르,2015-10-28,107,청소년 관람불가,안용훈,0.00,0,224,4,3,2,1
241,말하지 못한 비밀,(주)씨타마운틴픽쳐스,드라마,2015-10-22,102,청소년 관람불가,송동윤,50699.00,1,68,7,3,4,1
242,조선안방 스캔들-칠거지악 2,(주) 케이알씨지,멜로/로맨스,2015-10-22,76,청소년 관람불가,이전,0.00,0,10,4,3,5,19

### new_num(배급사별 영화수)을 기반으로 그룹화

In [28]:
sorted(train_test["new_num"].unique())
# 배급사별 영화수가 1개인 것부터 최대 85개 있다.

[1,
 2,
 3,
 4,
 5,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 19,
 27,
 36,
 37,
 38,
 43,
 76,
 85]

In [29]:
for i in range(86):
    a = train_test[train_test['new_num']==i].shape[0]
    if a ==0:
        pass
    else:
        print(a)

print(type(a))
# (123,50,39,44,20),(35,16,9,20,11,60,26,14,15,19,27),(36,37,38,43,76,85) -> 영화 총갯수     
# (1,2,3,4,5)       (7,8,9,10,11,12,13,14,15,19,27),  (36,37,38,43,76,85) -> 배급사별 영화갯수
# 소그룹              중그룹                  대그룹
# (276)             (252)                   (315)

# train[train['new_num']==35] 은 35개의 영화를 개봉한 배급사. 
# 데이터를 보니 5개의 배급사가 7개의 영화개봉. 5개의 배급사가 각각 7씩 총 35개의 영화

123
50
39
44
20
35
16
9
20
11
60
26
14
15
19
27
36
37
38
43
76
85
<class 'int'>

In [30]:
train_test['distributor_group']=0

In [31]:
train_test

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,new_screening_rat,new_genre,new_num,distributor_group
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,0.00,0,91,2,3,10,76,0
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,3,2,38,0
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,1,10,38,0
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,2,11,36,0
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,1,11,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,해에게서 소년에게,디씨드,드라마,2015-11-19,78,15세 관람가,안슬기,2590.00,1,4,4,1,4,1,0
239,울보 권투부,인디스토리,다큐멘터리,2015-10-29,86,12세 관람가,이일하,0.00,0,18,2,0,3,37,0
240,어떤살인,(주)컨텐츠온미디어,느와르,2015-10-28,107,청소년 관람불가,안용훈,0.00,0,224,4,3,2,1,0
241,말하지 못한 비밀,(주)씨타마운틴픽쳐스,드라마,2015-10-22,102,청소년 관람불가,송동윤,50699.00,1,68,7,3,4,1,0
242,조선안방 스캔들-칠거지악 2,(주) 케이알씨지,멜로/로맨스,2015-10-22,76,청소년 관람불가,이전,0.00,0,10,4,3,5,19,0

In [32]:
train_test.loc[(train_test["new_num"] >=5) & (train_test["new_num"] <30), "distributor_group"]=1

In [33]:
train_test.loc[(train_test["new_num"]>33), "distributor_group"]=2

In [34]:
train_test
# train과 test데이터를 합친 후 인코딩을 했다.
# distributor_group 열에 배급사를 그룹화해서 넣음 0=소그룹, 1=중그룹, 2= 대그룹

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,new_screening_rat,new_genre,new_num,distributor_group
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,0.00,0,91,2,3,10,76,2
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,3,2,38,2
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,1,10,38,2
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,2,11,36,2
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,1,11,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,해에게서 소년에게,디씨드,드라마,2015-11-19,78,15세 관람가,안슬기,2590.00,1,4,4,1,4,1,0
239,울보 권투부,인디스토리,다큐멘터리,2015-10-29,86,12세 관람가,이일하,0.00,0,18,2,0,3,37,2
240,어떤살인,(주)컨텐츠온미디어,느와르,2015-10-28,107,청소년 관람불가,안용훈,0.00,0,224,4,3,2,1,0
241,말하지 못한 비밀,(주)씨타마운틴픽쳐스,드라마,2015-10-22,102,청소년 관람불가,송동윤,50699.00,1,68,7,3,4,1,0
242,조선안방 스캔들-칠거지악 2,(주) 케이알씨지,멜로/로맨스,2015-10-22,76,청소년 관람불가,이전,0.00,0,10,4,3,5,19,1

In [35]:
train_test.reset_index(inplace=True)

In [36]:
drop = ['index']
train_test.drop(drop,axis=1,inplace=True)

In [37]:
train_test

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,new_screening_rat,new_genre,new_num,distributor_group
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,0.00,0,91,2,3,10,76,2
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,3,2,38,2
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,1,10,38,2
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,2,11,36,2
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,1,11,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,해에게서 소년에게,디씨드,드라마,2015-11-19,78,15세 관람가,안슬기,2590.00,1,4,4,1,4,1,0
839,울보 권투부,인디스토리,다큐멘터리,2015-10-29,86,12세 관람가,이일하,0.00,0,18,2,0,3,37,2
840,어떤살인,(주)컨텐츠온미디어,느와르,2015-10-28,107,청소년 관람불가,안용훈,0.00,0,224,4,3,2,1,0
841,말하지 못한 비밀,(주)씨타마운틴픽쳐스,드라마,2015-10-22,102,청소년 관람불가,송동윤,50699.00,1,68,7,3,4,1,0
842,조선안방 스캔들-칠거지악 2,(주) 케이알씨지,멜로/로맨스,2015-10-22,76,청소년 관람불가,이전,0.00,0,10,4,3,5,19,1

#### 년,월 쪼개기

In [38]:
train_test['year']= train_test['release_time'].str.slice(0,4).astype(int)
train_test['month'] = train_test['release_time'].str.slice(5,7).astype(int)

In [39]:
train_test

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,new_screening_rat,new_genre,new_num,distributor_group,year,month
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,0.00,0,91,2,3,10,76,2,2012,11
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,3,2,38,2,2015,11
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,1,10,38,2,2013,6
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,2,11,36,2,2012,7
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,1,11,4,0,2010,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,해에게서 소년에게,디씨드,드라마,2015-11-19,78,15세 관람가,안슬기,2590.00,1,4,4,1,4,1,0,2015,11
839,울보 권투부,인디스토리,다큐멘터리,2015-10-29,86,12세 관람가,이일하,0.00,0,18,2,0,3,37,2,2015,10
840,어떤살인,(주)컨텐츠온미디어,느와르,2015-10-28,107,청소년 관람불가,안용훈,0.00,0,224,4,3,2,1,0,2015,10
841,말하지 못한 비밀,(주)씨타마운틴픽쳐스,드라마,2015-10-22,102,청소년 관람불가,송동윤,50699.00,1,68,7,3,4,1,0,2015,10
842,조선안방 스캔들-칠거지악 2,(주) 케이알씨지,멜로/로맨스,2015-10-22,76,청소년 관람불가,이전,0.00,0,10,4,3,5,19,1,2015,10

In [40]:
# 여기까지가 데이콘에서 제공한 train(관객수까지 있음)
train1 = train_test.loc[0:599]

In [41]:
# 인코딩을 위해 기존에 있던 train에서 'box_off_num'을삭제했다.
# 모델을 돌리기 위해 다시 추가한다. 
# train1은 인코딩이 된 것이기 때문에 train1에 train['box_off_num']를 추가한다.
train1['box_off_num']=train['box_off_num']

C:\Users\ZENBOOK\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [42]:
train1

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,new_screening_rat,new_genre,new_num,distributor_group,year,month,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,0.00,0,91,2,3,10,76,2,2012,11,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,3,2,38,2,2015,11,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,1,10,38,2,2013,6,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,2,11,36,2,2012,7,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,1,11,4,0,2010,11,483387
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,(주)NEW,드라마,2014-08-13,111,청소년 관람불가,심성보,3833.00,1,510,7,3,4,36,2,2014,8,1475091
596,파파로티,(주)쇼박스,드라마,2013-03-14,127,15세 관람가,윤종찬,496061.00,1,286,6,1,4,38,2,2013,3,1716438
597,살인의 강,(주)마운틴픽쳐스,공포,2010-09-30,99,청소년 관람불가,김대현,0.00,0,123,4,3,1,43,2,2010,9,2475
598,악의 연대기,CJ 엔터테인먼트,느와르,2015-05-14,102,15세 관람가,백운학,0.00,0,431,4,1,2,85,2,2015,5,2192525
599,베를린,CJ 엔터테인먼트,액션,2013-01-30,120,15세 관람가,류승완,0.00,0,363,5,1,10,85,2,2013,1,7166532

In [43]:
# 데이콘에서 제공한 test(관객수없음. 이것을 예측해야 한다.)
test1 = train_test.loc[600:]

In [44]:
test1

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,new_screening_rat,new_genre,new_num,distributor_group,year,month
600,용서는 없다,시네마서비스,느와르,2010-01-07,125,청소년 관람불가,김형준,3.005290e+05,2,304,3,3,2,7,1,2010,1
601,아빠가 여자를 좋아해,(주)쇼박스,멜로/로맨스,2010-01-14,113,12세 관람가,이광재,3.427002e+05,4,275,3,0,5,38,2,2010,1
602,하모니,CJ 엔터테인먼트,드라마,2010-01-28,115,12세 관람가,강대규,4.206611e+06,3,419,7,0,4,85,2,2010,1
603,의형제,(주)쇼박스,액션,2010-02-04,116,15세 관람가,장훈,6.913420e+05,2,408,2,1,10,38,2,2010,2
604,평행 이론,CJ 엔터테인먼트,공포,2010-02-18,110,15세 관람가,권호영,3.173800e+04,1,380,1,1,1,85,2,2010,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,해에게서 소년에게,디씨드,드라마,2015-11-19,78,15세 관람가,안슬기,2.590000e+03,1,4,4,1,4,1,0,2015,11
839,울보 권투부,인디스토리,다큐멘터리,2015-10-29,86,12세 관람가,이일하,0.000000e+00,0,18,2,0,3,37,2,2015,10
840,어떤살인,(주)컨텐츠온미디어,느와르,2015-10-28,107,청소년 관람불가,안용훈,0.000000e+00,0,224,4,3,2,1,0,2015,10
841,말하지 못한 비밀,(주)씨타마운틴픽쳐스,드라마,2015-10-22,102,청소년 관람불가,송동윤,5.069900e+04,1,68,7,3,4,1,0,2015,10
842,조선안방 스캔들-칠거지악 2,(주) 케이알씨지,멜로/로맨스,2015-10-22,76,청소년 관람불가,이전,0.000000e+00,0,10,4,3,5,19,1,2015,10

#### 모델돌리기 위해 문자로 된 열 삭제

In [50]:
train2 = train1.drop(['title','distributor','genre','release_time','screening_rat','director'],axis=1)

In [52]:
train2

,time,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,new_screening_rat,new_genre,new_num,distributor_group,year,month,box_off_num
0,96,0.00,0,91,2,3,10,76,2,2012,11,23398
1,130,1161602.50,2,387,3,3,2,38,2,2015,11,7072501
2,123,220775.25,4,343,4,1,10,38,2,2013,6,6959083
3,101,23894.00,2,20,6,2,11,36,2,2012,7,217866
4,108,1.00,1,251,2,1,11,4,0,2010,11,483387
...,...,...,...,...,...,...,...,...,...,...,...,...
595,111,3833.00,1,510,7,3,4,36,2,2014,8,1475091
596,127,496061.00,1,286,6,1,4,38,2,2013,3,1716438
597,99,0.00,0,123,4,3,1,43,2,2010,9,2475
598,102,0.00,0,431,4,1,2,85,2,2015,5,2192525
599,120,0.00,0,363,5,1,10,85,2,2013,1,7166532

In [54]:
test2 = test1.drop(['title','distributor','genre','release_time','screening_rat','director'],axis=1)

In [55]:
test2

,time,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,new_screening_rat,new_genre,new_num,distributor_group,year,month
600,125,3.005290e+05,2,304,3,3,2,7,1,2010,1
601,113,3.427002e+05,4,275,3,0,5,38,2,2010,1
602,115,4.206611e+06,3,419,7,0,4,85,2,2010,1
603,116,6.913420e+05,2,408,2,1,10,38,2,2010,2
604,110,3.173800e+04,1,380,1,1,1,85,2,2010,2
...,...,...,...,...,...,...,...,...,...,...,...
838,78,2.590000e+03,1,4,4,1,4,1,0,2015,11
839,86,0.000000e+00,0,18,2,0,3,37,2,2015,10
840,107,0.000000e+00,0,224,4,3,2,1,0,2015,10
841,102,5.069900e+04,1,68,7,3,4,1,0,2015,10
842,76,0.000000e+00,0,10,4,3,5,19,1,2015,10

#### 모델돌릴 데이터csv파일로 저장

In [59]:
train2.to_csv('train1.csv',index=False)
test2.to_csv('test1.csv',index=False)

In [ ]:
## 잘 불러와지는지 확인!

In [60]:
pd.read_csv('train1.csv')

,time,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,new_screening_rat,new_genre,new_num,distributor_group,year,month,box_off_num
0,96,0.00,0,91,2,3,10,76,2,2012,11,23398
1,130,1161602.50,2,387,3,3,2,38,2,2015,11,7072501
2,123,220775.25,4,343,4,1,10,38,2,2013,6,6959083
3,101,23894.00,2,20,6,2,11,36,2,2012,7,217866
4,108,1.00,1,251,2,1,11,4,0,2010,11,483387
...,...,...,...,...,...,...,...,...,...,...,...,...
595,111,3833.00,1,510,7,3,4,36,2,2014,8,1475091
596,127,496061.00,1,286,6,1,4,38,2,2013,3,1716438
597,99,0.00,0,123,4,3,1,43,2,2010,9,2475
598,102,0.00,0,431,4,1,2,85,2,2015,5,2192525
599,120,0.00,0,363,5,1,10,85,2,2013,1,7166532

In [61]:
pd.read_csv('test1.csv')

,time,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,new_screening_rat,new_genre,new_num,distributor_group,year,month
0,125,3.005290e+05,2,304,3,3,2,7,1,2010,1
1,113,3.427002e+05,4,275,3,0,5,38,2,2010,1
2,115,4.206611e+06,3,419,7,0,4,85,2,2010,1
3,116,6.913420e+05,2,408,2,1,10,38,2,2010,2
4,110,3.173800e+04,1,380,1,1,1,85,2,2010,2
...,...,...,...,...,...,...,...,...,...,...,...
238,78,2.590000e+03,1,4,4,1,4,1,0,2015,11
239,86,0.000000e+00,0,18,2,0,3,37,2,2015,10
240,107,0.000000e+00,0,224,4,3,2,1,0,2015,10
241,102,5.069900e+04,1,68,7,3,4,1,0,2015,10
242,76,0.000000e+00,0,10,4,3,5,19,1,2015,10