In [1]:
# 빅콘 영화
# https://github.com/hyeonho1028/BigContest#3-svm
# 

# svm 파라미터 grid search
# https://bizzengine.tistory.com/168

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
test = pd.read_csv("test1.csv")
train = pd.read_csv("train1.csv")
submission = pd.read_csv("submission.csv",encoding = 'euc-kr')

In [4]:
X = train.iloc[:,0:-1]   # train데이터에서 마지막에 있는 관객수 를제외한 나머지 데이터
y = train.iloc[:,-1]     # train데이터에서 마지막에 있는 관객수 데이터

In [5]:
train

,time,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,new_screening_rat,new_genre,new_num,distributor_group,year,month,box_off_num
0,96,0.00,0,91,2,3,10,76,2,2012,11,23398
1,130,1161602.50,2,387,3,3,2,38,2,2015,11,7072501
2,123,220775.25,4,343,4,1,10,38,2,2013,6,6959083
3,101,23894.00,2,20,6,2,11,36,2,2012,7,217866
4,108,1.00,1,251,2,1,11,4,0,2010,11,483387
...,...,...,...,...,...,...,...,...,...,...,...,...
595,111,3833.00,1,510,7,3,4,36,2,2014,8,1475091
596,127,496061.00,1,286,6,1,4,38,2,2013,3,1716438
597,99,0.00,0,123,4,3,1,43,2,2010,9,2475
598,102,0.00,0,431,4,1,2,85,2,2015,5,2192525
599,120,0.00,0,363,5,1,10,85,2,2013,1,7166532

In [33]:
x_data = X.to_numpy()
y_data = y.to_numpy()

In [34]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=777)

In [35]:
# 모델학습
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [36]:
# 모델 검증
print(model.score(x_test, y_test))

0.2223468156058097

In [37]:
# 예측!
x_test = test

y_predict = model.predict(x_test)
print(y_predict)

[ 1.09444802e+06  1.22155193e+06  3.13878885e+06  2.16052613e+06
  1.74889734e+06  3.57181140e+05 -7.34861417e+04  8.28026430e+04
 -6.86854965e+04  1.09161437e+06  1.09565905e+06  1.53311997e+06
  9.37855793e+05 -1.25983029e+04  1.85961469e+06  2.86602469e+06
 -4.58832518e+04  1.21432591e+06  1.13548748e+06  1.01011846e+05
 -5.15365671e+05  1.89486533e+05  3.29068087e+05 -2.38154984e+05
 -2.93312712e+05  3.49484443e+06 -6.56991729e+04  1.79575083e+06
  3.46886567e+05  2.53637581e+05  1.55370472e+06 -3.45945052e+05
 -3.36719508e+05  1.43196377e+06 -2.09244671e+05  2.05441152e+04
 -6.10180234e+04 -4.33427572e+05 -9.85979899e+04 -5.34458631e+05
  4.09628955e+04  1.22713044e+05  7.44786112e+04  4.66729441e+05
  6.59129028e+05  2.40058614e+06 -2.34265673e+05  3.12911181e+05
  8.94753910e+05 -5.36226877e+05 -2.07432699e+05  7.25763828e+05
  3.30764124e+05  1.15466845e+06  1.29447216e+06  3.29304530e+05
  1.74952054e+04  1.89180610e+06  2.16842936e+06  1.63207261e+06
  2.08634114e+06  2.28651154e+06  7.39957492e+05 -9.06927831e+04
  4.14846042e+05 -1.39119568e+05  2.11067997e+06  3.42706537e+05
  6.41703518e+05  9.19093026e+05  2.38226925e+06  1.50146646e+06
 -3.69900717e+05  1.53414307e+06  9.46760690e+05 -3.76230200e+05
  1.61870552e+06  5.10355860e+05  3.90963375e+05  5.54681325e+04
  4.58289460e+05  1.49263938e+06  4.42171776e+05  1.96131046e+06
 -1.41478580e+05  1.97281785e+06 -5.15816645e+04 -1.18751308e+05
 -8.90856163e+04  1.12861941e+06 -1.37570409e+05 -1.00548568e+05
  1.11575372e+06  1.64342517e+06  3.49096484e+05 -1.36379341e+05
  1.70012483e+05  9.65768338e+04  6.32160860e+05  1.15849796e+06
  9.88795743e+05  1.66093031e+06 -3.16479533e+05  2.83294752e+05
  1.79554286e+06  5.26411413e+05  2.22025550e+06 -7.69230718e+04
  2.31272403e+06 -1.85024755e+05 -5.66466747e+04  1.62019120e+06
  1.79998456e+06  2.34196126e+05  1.12584083e+05  1.53654772e+06
  3.75402232e+05  1.24896404e+06  5.08044557e+05 -3.14458858e+05
  3.66475983e+04  1.40610424e+06  1.29418954e+06 -3.54184725e+04
 -2.68304947e+05 -6.17928522e+04  6.60825512e+04 -2.07322717e+05
  7.98702115e+05 -1.90271837e+05 -6.49377197e+05  1.38725352e+06
 -1.51730458e+05 -2.90640115e+05  2.62136193e+06  2.33376027e+06
 -1.44268712e+05  1.86998488e+06  6.39027876e+05 -5.76021109e+05
 -5.37507672e+05  1.88967257e+06  2.37094571e+06  6.12261541e+05
 -1.22670930e+05  2.21712218e+06  2.35153976e+05  3.30433173e+05
  2.56563879e+06  2.31713124e+06  8.01358570e+05  4.28275385e+05
 -3.03656259e+04  2.96987776e+05  2.01015704e+05  1.37706293e+06
  3.49329098e+05  2.89120473e+04  3.77445962e+06  2.18054054e+06
  1.04017141e+06  3.06845402e+06  1.10241254e+06  8.08207864e+05
 -5.07855146e+04  1.24587502e+05  2.33041113e+06 -3.78295481e+05
 -1.35609331e+05  4.32528489e+04 -2.37847530e+05 -5.66230432e+04
  8.45099566e+05 -9.95327134e+03  1.42566873e+06  8.48291894e+05
  1.11530904e+04  3.28645562e+04  5.27096826e+06  3.69369990e+06
  6.02642523e+05 -8.35219873e+04 -7.36202971e+04  8.63558453e+05
  3.04343035e+06 -2.51964647e+05  2.18677260e+05  3.59838578e+05
 -3.89613814e+05  1.27619598e+06  1.84023555e+05 -1.30659845e+05
 -2.36497967e+05 -3.89969030e+05 -8.35219873e+04  2.37531307e+06
  8.49351321e+04  1.92535820e+06 -7.64641371e+04  2.17526068e+06
  5.08220863e+05 -2.98706776e+05  3.32047946e+04  8.27278380e+05
  6.02306013e+05  1.42993154e+06  2.36669972e+06  2.00252721e+06
  4.10116859e+05  2.66713538e+06  6.62304269e+05  1.67963066e+06
  2.92108845e+06  1.22371758e+06  7.14729003e+04 -1.88697012e+05
  2.97637303e+06  1.26406412e+04 -6.37270942e+04  1.87160113e+05
  5.09561213e+05  3.50201748e+06  9.66279264e+04  4.42435328e+05
  1.81709407e+07  3.29868960e+05 -1.89348546e+05  1.81037237e+06
  1.24378305e+05  3.00382616e+06  2.63708012e+05  2.15927107e+06
  7.67310743e+05 -5.77020906e+05  1.70667836e+05  3.20617760e+05
  6.90840662e+05 -1.86227785e+05 -3.83260995e+05  1.88977553e+05
  6.75557067e+05 -2.49953575e+04 -2.22363874e+05]

In [18]:
# 예측을 했지만 음수로 나오는 값들도 있다. 그런데 관객수가 음수라는 것이 이상하다. 
# 다른 모델을 적용!

### SVM

In [6]:
from sklearn.svm import SVC

In [39]:
X = train.iloc[:,0:-1]   # train데이터에서 마지막에 있는 관객수 를제외한 나머지 데이터
y = train.iloc[:,-1]

In [40]:
x_train, x_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.3, random_state=777)

In [41]:
##########모델 생성
model = SVC()

In [42]:
model.fit(x_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [43]:
##########모델 검증
print(model.score(x_train, y_train)) 
print(model.score(x_test, y_test))

0.1619047619047619
0.0

In [44]:
##########모델 예측
x_test = test

y_predict = model.predict(x_test)
print(y_predict)

[    1250     1250  2057896     1250     1250     1547     4586     1547
     1547     1547     1250     1250     1547     1240  1166025     1250
     1547     1547     1547      745     4586     1240     1250  1649407
     4586   402876      745     1547     1547     1547     1547     4586
      745     1250     1240     1250     4586     4586     1240     4586
     1250     4586     4586   387408     1547  1649407     4586     1547
     1250     4586     1250     1547     1547     1250     1547     1547
     1250     1547     1250     1547     1250     1547     1547     1547
     1547     1240     1250     1240     1250     1547     1250     1547
      745     1547 12706663     4586     1250     1547     1547      745
     1547     1250     1547     1547      745     1250     1250      745
      745     1250      745     4586     1547     1250     1250     1250
     1547     1240     1547     1547     1250     1547     1250     1240
     1250     1240     1250     1240    43947     4586      745     1250
     1250     1240     1547     1250     1547     1547     1240     1250
     4586     1547     1547      745     4586      745      745      745
     1547     1250     4586     1547      745      745  2084844  1046313
     1250  1046313     1240     4586      745     1547   101698     1547
     4586  7759711      745     1250     1250     1250     1547     1547
     1547     1547     1250     1250      745      745   729834     1250
     1547    74261   387408     1250      745     1250   953682     4586
     1240     1547     1250      745     1547     1240  2084844     1547
     1250     1240    38809     1250     1547      745     4586  1046313
    74261     1250     1240     1547      745     1250     1250      745
     4586     1250      745     1547     1250     1547      745     1250
     1547     4586     4586     1547     1250  1141222     1547  1141222
     1547   120806      745     1547  1892125     1250      745     1240
     1250     1547     4586     1240   120806   729834     1250     1547
     1547     4586     4586     1250     1240     1250   387408  2084844
     1250     1250     4586     1240  7482180     4586     1250      745
     1547     1250      745]

In [34]:
tt = submission.copy()

In [35]:
tt

               title  box_off_num
0             용서는 없다            0
1        아빠가 여자를 좋아해            0
2                하모니            0
3                의형제            0
4              평행 이론            0
..               ...          ...
238        해에게서 소년에게            0
239           울보 권투부            0
240             어떤살인            0
241        말하지 못한 비밀            0
242  조선안방 스캔들-칠거지악 2            0

[243 rows x 2 columns]

In [36]:
tt['box_off_num'] = model.predict(x_test)

In [37]:
tt

               title  box_off_num
0             용서는 없다         1250
1        아빠가 여자를 좋아해         1250
2                하모니      2057896
3                의형제         1250
4              평행 이론         1250
..               ...          ...
238        해에게서 소년에게         1250
239           울보 권투부          745
240             어떤살인         1547
241        말하지 못한 비밀         1250
242  조선안방 스캔들-칠거지악 2          745

[243 rows x 2 columns]

In [38]:
tt.to_csv('tt.csv',index=False)

### k-fold한 svm

In [7]:
from sklearn.model_selection import KFold

In [8]:
k = KFold(n_splits=6,shuffle=True,random_state=777)

In [9]:
 X_train,X_test,y_train = train.iloc[:,0:-1],test,train.iloc[:,-1]
#X_train,X_test,y_train,y_test = train_test_split(train)

In [10]:
for train_idx,val_idx in k.split(X_train):
    print(len(train_idx),len(val_idx))

500 100
500 100
500 100
500 100
500 100
500 100

In [11]:
from sklearn import svm,metrics 
from sklearn.svm import LinearSVC

model  = LinearSVC(C=1,verbose=1,random_state=42)

In [12]:
models=[]

In [13]:
for train_idx,val_idx in k.split(X_train):
    x_t = X_train.iloc[train_idx]
    y_t = y_train.iloc[train_idx]
    x_val = X_train.iloc[val_idx]
    y_val = y_train.iloc[val_idx]
    
    models.append(model.fit(x_t,y_t))

[LibLinear]

C:\Users\ZENBOOK\anaconda3\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

[LibLinear]

C:\Users\ZENBOOK\anaconda3\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

[LibLinear]

C:\Users\ZENBOOK\anaconda3\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

[LibLinear]

C:\Users\ZENBOOK\anaconda3\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

[LibLinear]

C:\Users\ZENBOOK\anaconda3\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

[LibLinear]

C:\Users\ZENBOOK\anaconda3\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [14]:
preds = []
for model in models:
    preds.append(model.predict(X_test))

In [15]:
preds

[array([283449, 283449, 283449, 283449,    148,  75740,   1379,  75740,
         75740,  75740, 283449, 283449,  75740,  75740, 283449, 283449,
         75740,  75740,  75740,   1379,   1379,  75740, 283449, 283449,
          1379, 283449,   1379,  75740,  75740,    148,  75740,   1379,
          1379, 283449,  75740,    148,   1379,   1379,  75740,  75740,
        283449,   1379,   1379, 283449,    148, 283449,   1379,  75740,
        283449,   1379,    148,  75740,  75740, 283449,  75740,    148,
           148,  75740, 283449,  75740, 283449,  75740,  75740,  75740,
           148,  75740, 283449,  75740, 283449,  75740, 283449,  75740,
          1379,  75740, 283449,   1379, 283449,  75740,  75740,   1379,
         75740,    148,  75740,  75740,   1379, 283449, 283449,   1379,
          1379, 283449,   1379,   1379,  75740, 283449, 283449, 283449,
         75740,  75740,  75740,  75740, 283449,  75740, 283449,    148,
        283449,    148, 283449,  75740, 283449,   1379,   1379,    148,
        283449,   1379,    148,    148,    148,  75740,  75740, 283449,
          1379,  75740,  75740,   1379,    148,   1379,   1379,   1379,
         75740, 283449,   1379,  75740,   1379,   1379, 283449, 283449,
           148, 283449,  75740,   1379,    148,  75740, 283449,  75740,
          1379, 283449,   1379,    148, 283449, 283449,  75740,  75740,
         75740,  75740, 283449, 283449,   1379,   1379, 283449,    148,
         75740, 283449, 283449, 283449,   1379, 283449, 283449,   1379,
         75740,  75740, 283449,   1379,  75740,  75740, 283449,  75740,
        283449,    148, 283449, 283449,  75740,   1379,  75740, 283449,
        283449,    148,  75740,  75740,    148, 283449,    148,   1379,
          1379,    148,   1379,  75740, 283449,  75740,   1379, 283449,
         75740,   1379,   1379,  75740, 283449, 283449,  75740, 283449,
         75740, 283449,   1379,    148, 283449, 283449,   1379,  75740,
        283449,  75740,   1379,  75740, 283449, 283449, 283449,  75740,
          4398,   1379,   1379, 283449,  75740,    148, 283449, 283449,
        283449,    148,  75740,  75740, 283449,   1379,    148,   1379,
         75740,    148,   1379], dtype=int64),
 array([283449, 283449, 283449, 283449,    148,  75740,   1379,  75740,
         75740,  75740, 283449, 283449,  75740,  75740, 283449, 283449,
         75740,  75740,  75740,   1379,   1379,  75740, 283449, 283449,
          1379, 283449,   1379,  75740,  75740,    148,  75740,   1379,
          1379, 283449,  75740,    148,   1379,   1379,  75740,  75740,
        283449,   1379,   1379, 283449,    148, 283449,   1379,  75740,
        283449,   1379,    148,  75740,  75740, 283449,  75740,    148,
           148,  75740, 283449,  75740, 283449,  75740,  75740,  75740,
           148,  75740, 283449,  75740, 283449,  75740, 283449,  75740,
          1379,  75740, 283449,   1379, 283449,  75740,  75740,   1379,
         75740,    148,  75740,  75740,   1379, 283449, 283449,   1379,
          1379, 283449,   1379,   1379,  75740, 283449, 283449, 283449,
         75740,  75740,  75740,  75740, 283449,  75740, 283449,    148,
        283449,    148, 283449,  75740, 283449,   1379,   1379,    148,
        283449,   1379,    148,    148,    148,  75740,  75740, 283449,
          1379,  75740,  75740,   1379,    148,   1379,   1379,   1379,
         75740, 283449,   1379,  75740,   1379,   1379, 283449, 283449,
           148, 283449,  75740,   1379,    148,  75740, 283449,  75740,
          1379, 283449,   1379,    148, 283449, 283449,  75740,  75740,
         75740,  75740, 283449, 283449,   1379,   1379, 283449,    148,
         75740, 283449, 283449, 283449,   1379, 283449, 283449,   1379,
         75740,  75740, 283449,   1379,  75740,  75740, 283449,  75740,
        283449,    148, 283449, 283449,  75740,   1379,  75740, 283449,
        283449,    148,  75740,  75740,    148, 283449,    148,   1379,
          1379,    148,   1379,  75740, 283449,  75740,   1379, 283449,
         75740,   1379,   1379,  75740, 283449, 283449,  75740, 283449,
         75740, 283449,   1379,    148, 283449, 283449,   1379,  75740,
        283449,  75740,   1379,  75740, 283449, 283449, 283449,  75740,
          4398,   1379,   1379, 283449,  75740,    148, 283449, 283449,
        283449,    148,  75740,  75740, 283449,   1379,    148,   1379,
         75740,    148,   1379], dtype=int64),
 array([283449, 283449, 283449, 283449,    148,  75740,   1379,  75740,
         75740,  75740, 283449, 283449,  75740,  75740, 283449, 283449,
         75740,  75740,  75740,   1379,   1379,  75740, 283449, 283449,
          1379, 283449,   1379,  75740,  75740,    148,  75740,   1379,
          1379, 283449,  75740,    148,   1379,   1379,  75740,  75740,
        283449,   1379,   1379, 283449,    148, 283449,   1379,  75740,
        283449,   1379,    148,  75740,  75740, 283449,  75740,    148,
           148,  75740, 283449,  75740, 283449,  75740,  75740,  75740,
           148,  75740, 283449,  75740, 283449,  75740, 283449,  75740,
          1379,  75740, 283449,   1379, 283449,  75740,  75740,   1379,
         75740,    148,  75740,  75740,   1379, 283449, 283449,   1379,
          1379, 283449,   1379,   1379,  75740, 283449, 283449, 283449,
         75740,  75740,  75740,  75740, 283449,  75740, 283449,    148,
        283449,    148, 283449,  75740, 283449,   1379,   1379,    148,
        283449,   1379,    148,    148,    148,  75740,  75740, 283449,
          1379,  75740,  75740,   1379,    148,   1379,   1379,   1379,
         75740, 283449,   1379,  75740,   1379,   1379, 283449, 283449,
           148, 283449,  75740,   1379,    148,  75740, 283449,  75740,
          1379, 283449,   1379,    148, 283449, 283449,  75740,  75740,
         75740,  75740, 283449, 283449,   1379,   1379, 283449,    148,
         75740, 283449, 283449, 283449,   1379, 283449, 283449,   1379,
         75740,  75740, 283449,   1379,  75740,  75740, 283449,  75740,
        283449,    148, 283449, 283449,  75740,   1379,  75740, 283449,
        283449,    148,  75740,  75740,    148, 283449,    148,   1379,
          1379,    148,   1379,  75740, 283449,  75740,   1379, 283449,
         75740,   1379,   1379,  75740, 283449, 283449,  75740, 283449,
         75740, 283449,   1379,    148, 283449, 283449,   1379,  75740,
        283449,  75740,   1379,  75740, 283449, 283449, 283449,  75740,
          4398,   1379,   1379, 283449,  75740,    148, 283449, 283449,
        283449,    148,  75740,  75740, 283449,   1379,    148,   1379,
         75740,    148,   1379], dtype=int64),
 array([283449, 283449, 283449, 283449,    148,  75740,   1379,  75740,
         75740,  75740, 283449, 283449,  75740,  75740, 283449, 283449,
         75740,  75740,  75740,   1379,   1379,  75740, 283449, 283449,
          1379, 283449,   1379,  75740,  75740,    148,  75740,   1379,
          1379, 283449,  75740,    148,   1379,   1379,  75740,  75740,
        283449,   1379,   1379, 283449,    148, 283449,   1379,  75740,
        283449,   1379,    148,  75740,  75740, 283449,  75740,    148,
           148,  75740, 283449,  75740, 283449,  75740,  75740,  75740,
           148,  75740, 283449,  75740, 283449,  75740, 283449,  75740,
          1379,  75740, 283449,   1379, 283449,  75740,  75740,   1379,
         75740,    148,  75740,  75740,   1379, 283449, 283449,   1379,
          1379, 283449,   1379,   1379,  75740, 283449, 283449, 283449,
         75740,  75740,  75740,  75740, 283449,  75740, 283449,    148,
        283449,    148, 283449,  75740, 283449,   1379,   1379,    148,
        283449,   1379,    148,    148,    148,  75740,  75740, 283449,
          1379,  75740,  75740,   1379,    148,   1379,   1379,   1379,
         75740, 283449,   1379,  75740,   1379,   1379, 283449, 283449,
           148, 283449,  75740,   1379,    148,  75740, 283449,  75740,
          1379, 283449,   1379,    148, 283449, 283449,  75740,  75740,
         75740,  75740, 283449, 283449,   1379,   1379, 283449,    148,
         75740, 283449, 283449, 283449,   1379, 283449, 283449,   1379,
         75740,  75740, 283449,   1379,  75740,  75740, 283449,  75740,
        283449,    148, 283449, 283449,  75740,   1379,  75740, 283449,
        283449,    148,  75740,  75740,    148, 283449,    148,   1379,
          1379,    148,   1379,  75740, 283449,  75740,   1379, 283449,
         75740,   1379,   1379,  75740, 283449, 283449,  75740, 283449,
         75740, 283449,   1379,    148, 283449, 283449,   1379,  75740,
        283449,  75740,   1379,  75740, 283449, 283449, 283449,  75740,
          4398,   1379,   1379, 283449,  75740,    148, 283449, 283449,
        283449,    148,  75740,  75740, 283449,   1379,    148,   1379,
         75740,    148,   1379], dtype=int64),
 array([283449, 283449, 283449, 283449,    148,  75740,   1379,  75740,
         75740,  75740, 283449, 283449,  75740,  75740, 283449, 283449,
         75740,  75740,  75740,   1379,   1379,  75740, 283449, 283449,
          1379, 283449,   1379,  75740,  75740,    148,  75740,   1379,
          1379, 283449,  75740,    148,   1379,   1379,  75740,  75740,
        283449,   1379,   1379, 283449,    148, 283449,   1379,  75740,
        283449,   1379,    148,  75740,  75740, 283449,  75740,    148,
           148,  75740, 283449,  75740, 283449,  75740,  75740,  75740,
           148,  75740, 283449,  75740, 283449,  75740, 283449,  75740,
          1379,  75740, 283449,   1379, 283449,  75740,  75740,   1379,
         75740,    148,  75740,  75740,   1379, 283449, 283449,   1379,
          1379, 283449,   1379,   1379,  75740, 283449, 283449, 283449,
         75740,  75740,  75740,  75740, 283449,  75740, 283449,    148,
        283449,    148, 283449,  75740, 283449,   1379,   1379,    148,
        283449,   1379,    148,    148,    148,  75740,  75740, 283449,
          1379,  75740,  75740,   1379,    148,   1379,   1379,   1379,
         75740, 283449,   1379,  75740,   1379,   1379, 283449, 283449,
           148, 283449,  75740,   1379,    148,  75740, 283449,  75740,
          1379, 283449,   1379,    148, 283449, 283449,  75740,  75740,
         75740,  75740, 283449, 283449,   1379,   1379, 283449,    148,
         75740, 283449, 283449, 283449,   1379, 283449, 283449,   1379,
         75740,  75740, 283449,   1379,  75740,  75740, 283449,  75740,
        283449,    148, 283449, 283449,  75740,   1379,  75740, 283449,
        283449,    148,  75740,  75740,    148, 283449,    148,   1379,
          1379,    148,   1379,  75740, 283449,  75740,   1379, 283449,
         75740,   1379,   1379,  75740, 283449, 283449,  75740, 283449,
         75740, 283449,   1379,    148, 283449, 283449,   1379,  75740,
        283449,  75740,   1379,  75740, 283449, 283449, 283449,  75740,
          4398,   1379,   1379, 283449,  75740,    148, 283449, 283449,
        283449,    148,  75740,  75740, 283449,   1379,    148,   1379,
         75740,    148,   1379], dtype=int64),
 array([283449, 283449, 283449, 283449,    148,  75740,   1379,  75740,
         75740,  75740, 283449, 283449,  75740,  75740, 283449, 283449,
         75740,  75740,  75740,   1379,   1379,  75740, 283449, 283449,
          1379, 283449,   1379,  75740,  75740,    148,  75740,   1379,
          1379, 283449,  75740,    148,   1379,   1379,  75740,  75740,
        283449,   1379,   1379, 283449,    148, 283449,   1379,  75740,
        283449,   1379,    148,  75740,  75740, 283449,  75740,    148,
           148,  75740, 283449,  75740, 283449,  75740,  75740,  75740,
           148,  75740, 283449,  75740, 283449,  75740, 283449,  75740,
          1379,  75740, 283449,   1379, 283449,  75740,  75740,   1379,
         75740,    148,  75740,  75740,   1379, 283449, 283449,   1379,
          1379, 283449,   1379,   1379,  75740, 283449, 283449, 283449,
         75740,  75740,  75740,  75740, 283449,  75740, 283449,    148,
        283449,    148, 283449,  75740, 283449,   1379,   1379,    148,
        283449,   1379,    148,    148,    148,  75740,  75740, 283449,
          1379,  75740,  75740,   1379,    148,   1379,   1379,   1379,
         75740, 283449,   1379,  75740,   1379,   1379, 283449, 283449,
           148, 283449,  75740,   1379,    148,  75740, 283449,  75740,
          1379, 283449,   1379,    148, 283449, 283449,  75740,  75740,
         75740,  75740, 283449, 283449,   1379,   1379, 283449,    148,
         75740, 283449, 283449, 283449,   1379, 283449, 283449,   1379,
         75740,  75740, 283449,   1379,  75740,  75740, 283449,  75740,
        283449,    148, 283449, 283449,  75740,   1379,  75740, 283449,
        283449,    148,  75740,  75740,    148, 283449,    148,   1379,
          1379,    148,   1379,  75740, 283449,  75740,   1379, 283449,
         75740,   1379,   1379,  75740, 283449, 283449,  75740, 283449,
         75740, 283449,   1379,    148, 283449, 283449,   1379,  75740,
        283449,  75740,   1379,  75740, 283449, 283449, 283449,  75740,
          4398,   1379,   1379, 283449,  75740,    148, 283449, 283449,
        283449,    148,  75740,  75740, 283449,   1379,    148,   1379,
         75740,    148,   1379], dtype=int64)]

In [24]:
np.mean(preds,axis=0).astype(int)

array([283449, 283449, 283449, 283449,    148,  75740,   1379,  75740,
        75740,  75740, 283449, 283449,  75740,  75740, 283449, 283449,
        75740,  75740,  75740,   1379,   1379,  75740, 283449, 283449,
         1379, 283449,   1379,  75740,  75740,    148,  75740,   1379,
         1379, 283449,  75740,    148,   1379,   1379,  75740,  75740,
       283449,   1379,   1379, 283449,    148, 283449,   1379,  75740,
       283449,   1379,    148,  75740,  75740, 283449,  75740,    148,
          148,  75740, 283449,  75740, 283449,  75740,  75740,  75740,
          148,  75740, 283449,  75740, 283449,  75740, 283449,  75740,
         1379,  75740, 283449,   1379, 283449,  75740,  75740,   1379,
        75740,    148,  75740,  75740,   1379, 283449, 283449,   1379,
         1379, 283449,   1379,   1379,  75740, 283449, 283449, 283449,
        75740,  75740,  75740,  75740, 283449,  75740, 283449,    148,
       283449,    148, 283449,  75740, 283449,   1379,   1379,    148,
       283449,   1379,    148,    148,    148,  75740,  75740, 283449,
         1379,  75740,  75740,   1379,    148,   1379,   1379,   1379,
        75740, 283449,   1379,  75740,   1379,   1379, 283449, 283449,
          148, 283449,  75740,   1379,    148,  75740, 283449,  75740,
         1379, 283449,   1379,    148, 283449, 283449,  75740,  75740,
        75740,  75740, 283449, 283449,   1379,   1379, 283449,    148,
        75740, 283449, 283449, 283449,   1379, 283449, 283449,   1379,
        75740,  75740, 283449,   1379,  75740,  75740, 283449,  75740,
       283449,    148, 283449, 283449,  75740,   1379,  75740, 283449,
       283449,    148,  75740,  75740,    148, 283449,    148,   1379,
         1379,    148,   1379,  75740, 283449,  75740,   1379, 283449,
        75740,   1379,   1379,  75740, 283449, 283449,  75740, 283449,
        75740, 283449,   1379,    148, 283449, 283449,   1379,  75740,
       283449,  75740,   1379,  75740, 283449, 283449, 283449,  75740,
         4398,   1379,   1379, 283449,  75740,    148, 283449, 283449,
       283449,    148,  75740,  75740, 283449,   1379,    148,   1379,
        75740,    148,   1379])

In [70]:
kk= submission.copy()

In [71]:
kk['box_off_num'] = np.mean(preds,axis=0)

In [72]:
kk

               title  box_off_num
0             용서는 없다     283449.0
1        아빠가 여자를 좋아해     283449.0
2                하모니     283449.0
3                의형제     283449.0
4              평행 이론        148.0
..               ...          ...
238        해에게서 소년에게        148.0
239           울보 권투부       1379.0
240             어떤살인      75740.0
241        말하지 못한 비밀        148.0
242  조선안방 스캔들-칠거지악 2       1379.0

[243 rows x 2 columns]

In [73]:
kk.to_csv('fff.csv',index=False)